# .github/workflows/ci.yml
name: CI
on:
 push:
  branches:
   - main

jobs:
 deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt
        pip install pytest pre-commit

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1

    - name: Run tests with pytest
      run: |
        pytest
