# .github/workflows/ci.yml
name: CI
on:
 push:
  branches:
   - main

jobs:
 deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libyaml-dev

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r backend/requirements.txt

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1

    - name: Install Snyk CLI
      uses: snyk/actions/setup@master

    - name: Snyk Open Source Analysis
      run: snyk test --file=backend/requirements.txt
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

    - name: Snyk Infrastructure as Code (Dockerfile)
      uses: snyk/actions/iac@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        file: backend/Dockerfile
