# .github/workflows/ci.yml
name: CI
on:
 push:
  branches:
   - main

jobs:
 deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
        # Snyk a souvent besoin que les dépendances soient installées
        # ou au moins que le gestionnaire soit prêt pour analyser l'arbre
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run pre-commit
      uses: pre-commit/action@v3.0.1

    - name: Snyk Open Source Analysis
      uses: snyk/actions/python@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        args: --file=backend/requirements.txt
        command: test
